{% extends 'app/header.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600,200' rel='stylesheet' type='text/css'>

    <title>Chat Rooms</title>
</head>

<body>
    {% block main%}
    <div class="cart-table-area section-padding-100">
        <div class="container-fluid mt-30">
            
            <div class="row">
                <div class="col-12 col-mt-8">
                    <h2>Live Chat</h2>

                    <div class="checkout_details_area mt-30 clearfix">
                        <form>
                        
                        <div class="row">

                            <div class="col-md-6 mb-3">
                                <h4>&nbspWhich user would you like to contact?</h4>
                                </br>
                                <input class="form-control"  id="room-name-input" type="text" placeholder="Username">
                                <br/>
                                <input class="btn amado-btn w-100" id="room-name-submit" type="button" value="Enter"/>
                            </div>

                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('room-name-input').focus();
        document.getElementById('room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.getElementById('room-name-submit').click();
            }
        };

        document.getElementById('room-name-submit').onclick = function(e) {
            var roomName = document.getElementById('room-name-input').value;
            window.location.pathname = '/app/' + roomName + '/';
        };
    </script>
    {% endblock main%}
</body>
</html>
