{% extends 'app/header.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    {% block head%}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    {% endblock head%}


</head>

<body>
    <!-- ##### Main Content Wrapper Start ##### -->
    {% block main%}
    <!-- Product Catagories Area Start -->
    <div class="products-catagories-area clearfix">
        <div class="amado-pro-catagory clearfix">

            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix">
                <a href="{% url 'shop' %}">
                    <img src="{% static 'img/bg-img/1.jpg' %}" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From $60</p>
                        <h4>McGill Fleece Crew</h4>
                    </div>
                </a>
            </div>

            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix">
                <a href="{% url 'shop' %}">
                    <img src="{% static 'img/bg-img/2.jpg' %}" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From $80</p>
                        <h4 style="color: white;">MATH 141 Textbook</h4>
                    </div>
                </a>
            </div>

            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix">
                <a href="{% url 'shop' %}">
                    <img src="{% static 'img/bg-img/3.jpg' %}" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From $9</p>
                        <h4>Note Book</h4>
                    </div>
                </a>
            </div>

            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix">
                <a href="{% url 'shop' %}">
                    <img src="{%static 'img/bg-img/4.jpg' %}" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From $9</p>
                        <h4>McGill Bistro Mug</h4>
                    </div>
                </a>
            </div>

            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix">
                <a href="{% url 'shop' %}">
                    <img src="{%static 'img/bg-img/5.jpg' %}" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From $2</p>
                        <h4>Lanyard With Clip</h4>
                    </div>
                </a>
            </div>

            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix">
                <a href="{% url 'shop' %}">
                    <img src="{% static 'img/bg-img/6.jpg' %}" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From $100</p>
                        <h4>JBL Headphone</h4>
                    </div>
                </a>
            </div>

            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix">
                <a href="{% url 'shop' %}">
                    <img src="{% static 'img/bg-img/7.jpg' %}" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From $318</p>
                        <h4>Metallic Chair</h4>
                    </div>
                </a>
            </div>

            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix">
                <a href="{% url 'shop' %}">
                    <img src="{% static 'img/bg-img/8.jpg' %}" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From $70</p>
                        <h4>Kindle 4th</h4>
                    </div>
                </a>
            </div>

            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix">
                <a href="{% url 'shop' %}">
                    <img src="{% static 'img/bg-img/9.jpg' %}" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From $318</p>
                        <h4>Home Deco</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- Product Catagories Area End -->
    {% endblock main%}
 
</body>

</html>